<% 
	include( '_include/_function.ejs' );
	$path = './';
	$active = 'top';
    $meta.title="会社概要｜HOT STAFF"
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="about">
	<%# include( '_include/_loadingAnim.ejs' ); %>
	<%- include( '_include/header.ejs' ); %>
	<%- include( '_include/nav.ejs', {scrollify: 'notactive'} ); %>
	<main>
		<!-- *****vision -->
		<section id="vision" class="section section--about js-effect">
			<div class="wrap">
                <section class="section__child inner">
                    <header class="section__index">
                        <p class="section__index__en"><span class="fade"><span class="fade__element">CORPORATE PROFILE</span></span></p>
                        <h2 class="section__index__ja"><span class="fade"><span class="fade__element">会社概要</span></span></h2>
                    </header>
                    <div class="section__content">
                        <table class="companyInfoTable">
                            <tr class="companyInfoTable__row">
                                <th class="companyInfoTable__th">Company Name</th>
                                <td class="companyInfoTable__td">株式会社ホットスタッフ</td>
                            </tr>
                            <tr class="companyInfoTable__row">
                                <th class="companyInfoTable__th">President / CEO</th>
                                <td class="companyInfoTable__td">加藤　実</td>
                            </tr>
                            <tr class="companyInfoTable__row">
                                <th class="companyInfoTable__th">Established</th>
                                <td class="companyInfoTable__td">1986 年5 月22 日</td>
                            </tr>
                            <tr class="companyInfoTable__row">
                                <th class="companyInfoTable__th">Head Office</th>
                                <td class="companyInfoTable__td">〒132-0021<br>
                                    東京都江戸川区中央4-19-38 2F </td>
                            </tr>
                            <tr class="companyInfoTable__row">
                                <th class="companyInfoTable__th">Confirmation</th>
                                <td class="companyInfoTable__td">一般建設業　東京都知事許可　第89303号</td>
                            </tr>
                            <tr class="companyInfoTable__row">
                                <th class="companyInfoTable__th">Capital</th>
                                <td class="companyInfoTable__td">1,000 万円</td>
                            </tr>
                            <tr class="companyInfoTable__row">
                                <th class="companyInfoTable__th">Tel</th>
                                <td class="companyInfoTable__td">03-5678-1537</td>
                            </tr>
                            <tr class="companyInfoTable__row">
                                <th class="companyInfoTable__th">Fax</th>
                                <td class="companyInfoTable__td">03-5678-1538</td>
                            </tr>
                        </table>
                    </div>
                </section>
                <section class="section__child inner">
                    <header class="section__index">
                        <p class="section__index__en"><span class="fade"><span class="fade__element">PARTNERS</span></span></p>
                        <h2 class="section__index__ja"><span class="fade"><span class="fade__element">主要取引先</span></span></h2>
                    </header>
                    <div class="section__content">
                      <ul class="partners">
<% var $partners = new Array('東急建設株式会社','東急リニューアル株式会社','株式会社京急百貨店','株式会社セゾンファンデックス','アイデックス株式会社','株式会社岩清','バルロジスティクス株式会社','三井物産グローバルロジスティクス株式会社','ルアン株式会社'); %>
                        <% $partners.forEach( function( e ){ %><li><%- e %></li><% }) %>
                      </ul>
                    </div>
                </section>                                    
                <section class="section__child inner">
                    <header class="section__index">
                        <p class="section__index__en"><span class="fade"><span class="fade__element">GROUP COMPANY</span></span></p>
                        <h2 class="section__index__ja"><span class="fade"><span class="fade__element">グループ企業</span></span></h2>
                    </header>
                    <div class="section__content">
                      <ul class="logos">
                        <li><a href="https://www.innorea.co.jp/" target="_blank">
                        <img src="<%- $path %>../img/about-group-innoreaestate.jpg" width="193" alt=""></a></li>
                      </ul>
                    </div>
                </section>                                    
    		</div>
		</section>
		<!-- ///// -->
		<!-- *****contact -->
        <%- include( '_include/contact.ejs' )%>
		<!-- ///// -->
	</main>
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>