<% 
	include( '_include/_function.ejs' );
	$path = './';
	$active = 'top';
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="top">
	<%- include( '_include/_loadingAnim.ejs' ); %>
	<%- include( '_include/header.ejs' ); %>
	<%- include( '_include/nav.ejs', {scrollify: 'active'} ); %>
	<main>
		<!-- ***** mainv -->
		<section id="concept" class="section section--concept mv js-effect">
			<article class="wrap mv__copy">
				<header class="mv__index">
					<span class="mv__copy__line"><span class="fade"><span class="fade__element">あっ、と驚かす<br class="-only-tab">クリエイティブな発想で、</span></span></span><br>
					<span class="mv__copy__line"><span class="fade"><span class="fade__element">「日常」を変えていこう。</span></span></span>
				</header>
				<p class="mv__content">
					<span class="mv__copy__line"><span class="fade"><span class="fade__element">人びとが快適に、楽しく、<br class="-only-tab">効率的に過ごすことのできる空間を。</span></span></span><br>
					<span class="mv__copy__line"><span class="fade"><span class="fade__element">そして、その空間にぴったりのITを<br class="-only-tab">添えることで新たな体験を。</span></span></span><br>
					<span class="mv__copy__line"><span class="fade"><span class="fade__element">デザインと、ITの力で今までにない<br class="-only-tab">クリエイティブな<br class="-only-tab">『時間の過ごし方』を創り出すことで、</span></span></span><br>
					<span class="mv__copy__line"><span class="fade"><span class="fade__element">私たちは皆様のビジネスに貢献します。</span></span></span>
				</p>
			</article>
			<div class="mv__img">
				<span class="mask">
          <span class="mask__element">
            <video autoplay muted loop playsinline class="videoElement -no-tab" src="/assets/img/mv-video.mp4" poster="/assets/img/mv-video-poster.jpg"></video>
            <img src="/assets/img/mv-video-poster.jpg" class="videoElement -only-tab"></video>
            <!-- <i class="-only-tab imgElement"></i> -->
          </span>
        </span>
			</div>
		</section>
		<!-- ///// -->
		<!-- *****vision -->
		<section id="vision" class="section section--vision js-effect">
			<div class="wrap">
				<div class="visionContent">
					<header class="section__index">
						<p class="section__index__en">EXPERIENCE CONSULTING</p>
						<h2 class="section__index__ja">体験のトータルコンサルティング</h2>
					</header>
					<div class="section__content">
						<p>
							<span class="fade">
								<span class="fade__element">
									空間。<br>
									家・会社・街・店舗・交通。<br>
									日常の中で私たちは常にありとあらゆる空間で時を過ごします。<br>
									時に息が詰まりそうになる現代において、<br>
									少しでも一瞬一瞬を大切にできるように、<br>
									もっと快適に豊かに過ごして欲しいと考えました。
								</span>
							</span>
						</p>						
						<p>
							<span class="fade">
								<span class="fade__element">
									全ての空間をもっとクリエイティブに。<br>
									そんな想いからプロフェッショナルとして<br>
									“＋αの付加価値”を生み出し、<br>
									「価値のある本物の空間を実感して欲しい」<br>
									私たちの事業コンセプトです。
								</span>
							</span>
						</p>

					</div>
				</div>
				<div class="visionImg imgInFrame">
					<div class="fade">
						<div class="fade__element">
              <img src="<%- $path %>../img/vision-img.jpg" srcset="/assets/img/_sp/vision-img.jpg 768w,/assets/img/vision-img.jpg" width="675" alt="">
						</div>
					</div>
				</div>

			</div>
			<i class="section__ticker">
			</i>
		</section>
		<!-- ///// -->
		<!-- *****services -->
		<section id="services" class="section section--services js-effect ">
			<div class="wrap">
				<div class="visionContent">
					<header class="section__index">
						<p class="section__index__en">WHAT WE DO ?</p>
						<h2 class="section__index__ja">私達の事業</h2>
					</header>
					<div class="section__content">
						<ul class="services inner">
							<li class="service">
								<div class="service__img">
									<header class="service__index">
										<p class="service__index__en"><span class="fade"><span class="fade__element">Designing</span></span></p>
										<h3 class="service__index__ja">
											<span class="fade"><span class="fade__element">空間デザイン<br>
											コンストラクション</span></span>
										</h3>
									</header>
									<div class="imgInFrame">
										<img src="<%- $path %>../img/services-designing-img.jpg" srcset="/assets/img/_sp/services-designing-img.jpg 768w,/assets/img/services-designing-img.jpg" width="500" alt="">
									</div>
								</div>
								<div class="service__content">
									<ul class="service__details">
										<li class="service__detail">
											<div class="fade">
												<div class="fade__element">
													<h4 class="service__detail__index">
														ホテル・店舗・オフィス・工場等
													</h4>
													<div class="service__detail__work">
														商業施設の設計・施工・管理
													</div>
												</div>
											</div>
										</li>
										<li class="service__detail">
											<div class="fade">
												<div class="fade__element">
													<h4 class="service__detail__index">
														一般住宅・マンション等
													</h4>
													<div class="service__detail__work">
														内装工事設計・施工・管理
													</div>
												</div>
											</div>
										</li>
										<li class="service__detail">
											<div class="fade">
												<div class="fade__element">
													<h4 class="service__detail__index">
														マンション・商業ビル等
													</h4>
													<div class="service__detail__work">
														外壁改修工事施工・管理
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
							<li class="service">
								<div class="service__img">
									<header class="service__index">
										<p class="service__index__en"><span class="fade"><span class="fade__element">Consulting</span></span></p>
										<h3 class="service__index__ja">
											<span class="fade"><span class="fade__element">ICTコンサルティング</span></span>
										</h3>
									</header>
									<div class="imgInFrame">
										<img src="<%- $path %>../img/services-consulting-img.jpg" srcset="/assets/img/_sp/services-consulting-img.jpg 768w,/assets/img/services-consulting-img.jpg" width="500" alt="">
									</div>
								</div>
								<div class="service__content">
									<ul class="service__details">
										<li class="service__detail">
											<div class="fade">
												<div class="fade__element">
													<h4 class="service__detail__index">
														プロジェクトマネジメント
													</h4>
												</div>
											</div>
										</li>
										<li class="service__detail">
											<div class="fade">
												<div class="fade__element">
													<h4 class="service__detail__index">
														OA事務サポート
													</h4>
												</div>
											</div>
										</li>
										<li class="service__detail">
											<div class="fade">
												<div class="fade__element">
													<h4 class="service__detail__index">
														システム構築・提案
													</h4>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</li>
						</ul>
		
					</div>
				</div>
			</div>
			<i class="section__ticker">
			</i>
		</section>
		<!-- ///// -->
		<!-- *****features -->
		<section id="features" class="section section--features js-effect">
			<div class="wrap">
				<div class="visionContent">
					<header class="section__index">
						<p class="section__index__en">WHO WE ARE ?</p>
						<h2 class="section__index__ja">私達が選ばれる理由</h2>
					</header>
					<div class="section__content">
						<ul class="features inner">
							<li class="feature">
								<header class="feature__index">
									<p class="feature__index__en">EXPERIENCES</p>
									<h3 class="feature__index__ja">ノウハウ</h3>
								</header>
								<div class="feature__content">
									<span class="fade">
										<span class="fade__element">
											蓄積した豊富な経験と知識を生かし、<br>
											様々な業種のご要望にお応えします。
										</span>
									</span>
								</div>
							</li>
							<li class="feature">
								<header class="feature__index">
									<p class="feature__index__en">PROFESSIONS</p>
									<h3 class="feature__index__ja">プロフェッションズ</h3>
								</header>
								<div class="feature__content">
									<span class="fade">
										<span class="fade__element">
											建築とICTの分野の知識を持ったプロフェッショナル集団がお客様に高品質なサービスを提供します。
										</span>
									</span>
								</div>
							</li>
							<li class="feature">
								<header class="feature__index">
									<p class="feature__index__en">PHILOSOPHY</p>
									<h3 class="feature__index__ja">フィロソフィ</h3>
								</header>
								<div class="feature__content">
									<span class="fade">
										<span class="fade__element">
											高品質な空間を提供したいという熱意があります。
										</span>
									</span>
		
								</div>
							</li>
							<li class="feature">
								<header class="feature__index">
									<p class="feature__index__en">NETWORK</p>
									<h3 class="feature__index__ja">ネットワーク</h3>
								</header>
								<div class="feature__content">
									<span class="fade">
										<span class="fade__element">
											不動産事業のグループ会社と連携し、不動産の仲介から空間デザインまでをトータルサポートします。
										</span>
									</span>
								</div>
							</li>
						</ul>
		
					</div>
				</div>
			</div>
			<i class="section__ticker">
			</i>
		</section>
		<!-- ///// -->
		<!-- *****contact -->
		<%- include( '_include/contact.ejs' )%>
		<!-- ///// -->
	</main>
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>